@model MyWebSite.Models.Configuration.Menu

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParentId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IndexCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IndexCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreaUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ControllerUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ControllerUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActionUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActionUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenuType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenuType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Icon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
