@using MyWebSite.Areas.Configuration.Models
@model IEnumerable<MyWebSite.Areas.Configuration.Models.Menu>
@{
    ViewData["Title"] = "菜单列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <a class="btn btn-primary" href="/Configuration/Menu/Create"><i class="fa fa-plus"></i>&nbsp;新建</a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>菜单编号</th>
                            <th>菜单名称</th>
                            <th>父级菜单</th>
                            <th>组内排序</th>
                            <th>菜单类型</th>
                            <th>菜单图标</th>
                            <th>菜单路径</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var index = 0;
                        }
                        @foreach (var item in Model)
                        {
                            index++;
                            <tr>
                                <td>
                                    @index.ToString("D3")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ParentId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IndexCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MenuType)
                                </td>
                                <td>
                                    <i class="fa @item.Icon"></i>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Url)
                                </td>
                                <td>
                                    @Html.ActionLink("编辑", "Edit", new { id = @item.Id })|
                                    @Html.ActionLink("详情", "Details", new { id = @item.Id })|
                                    <a href="#" onclick="onDelete('@item.Id');">删除</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function onDelete(Id) {
            BootstrapDialog.show({
                message: '确认删除菜单[' + Id + ']？',
                size: BootstrapDialog.SIZE_SMALL,
                draggable: true,
                buttons: [
                    {
                        icon: 'fa fa-check',
                        label: '确定',
                        cssClass: 'btn-primary',
                        action: function (dialogRef) {
                            dialogRef.close();
                            $.ajax({
                                type: 'POST',
                                url: '/Configuration/Menu/Delete',
                                data: { id: Id },
                                success: function () {
                                    location.reload();
                                }
                            });
                        }
                    }, {
                        icon: 'fa fa-close',
                        label: '取消',
                        action: function (dialogRef) {
                            dialogRef.close();
                        }
                    }
                ]
            });
        }
    </script>
}