@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@using MyWebSite.ViewModels
@inject UserManager<ApplicationUser> UserManagerIns

@{
    var user = await UserManagerIns.GetUserAsync(User);
    var vm = new LayoutVM { NetState = Localizer["Online"].Value };
    if (user != null)
    {
        vm.NickName = user.NickName;
    }
    else
    {
        vm.NickName = Localizer["Guest"].Value;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LanceL0t</title>

    @await Html.PartialAsync("_SiteCssPartial")
    @RenderSection("Styles", required: false)
</head>
<body class="hold-transition skin-blue sidebar-mini pace-done">
    <div class="wrapper">
        <!-- 顶部区域 -->
        @await Html.PartialAsync("_LayoutHeaderPartial", vm)
        <!-- 导航栏 -->
        @await Html.PartialAsync("_LayoutNavbarPartial", vm)

        <!-- 内容区域 -->
        <div class="content-wrapper">
            <section class="content-header">
                @{
                    var breadCrumb = ViewBag.BreadCrumb as BreadCrumb;
                    breadCrumb = breadCrumb ?? new BreadCrumb(SharedLocalizer["Home"].Value, "Version 2.0", new List<NavCrumb>());
                }
                <h1>
                    @breadCrumb.Title
                    <small>@breadCrumb.SubTitle</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> 主页</a></li>
                    @foreach (var navCrumbs in @breadCrumb.NavCrumbs)
                    {
                        if (!string.IsNullOrEmpty(navCrumbs.Url))
                        {
                            <li>
                                <a href="@navCrumbs.Url">@navCrumbs.Name</a>
                                <span></span>
                            </li>
                        }
                        else
                        {
                            <li class="active">@navCrumbs.Name</li>
                        }
                    }
                </ol>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <!-- 底部区域 -->
        @await Html.PartialAsync("_LayoutFooterPartial")
        <!-- 侧边栏 -->
        @await Html.PartialAsync("_LayoutSidebarPartial")
    </div>

    @await Html.PartialAsync("_SiteScriptsPartial")
    @RenderSection("Scripts", required: false)
</body>
</html>