@using Microsoft.AspNetCore.Mvc.Localization
@using MyWebSite.Areas.Configuration.Models
@using MyWebSite.Areas.Configuration.ViewModels
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@model MyWebSite.Areas.Configuration.ViewModels.NavMenuVM


@foreach (var navMenu in Model.NavMenus)
{
    if (navMenu.MenuType == MenuTypes.导航菜单)
    {
        <li menuid="@navMenu.Id" class="treeview @(Model.MenuidsOpen.Contains(navMenu.Id) ? "menu-open" : "")">
            <a href="#">
                <i class="fa @navMenu.Icon"></i> <span>@SharedLocalizer[navMenu.Name]</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu" @(Model.MenuidsOpen.Contains(navMenu.Id) ? @"style=display:block;" : "")>
                @await Html.PartialAsync("_NavMenu", new NavMenuVM
           {
               NavMenus = navMenu.SubNavMenus,
               MenuidsOpen = Model.MenuidsOpen
           })
            </ul>
        </li>
    }
    else if ((navMenu.MenuType == MenuTypes.操作菜单))
    {
        <li menuid="@navMenu.Id">
            <a href="@navMenu.Url" @(navMenu.Url != null && navMenu.Url.StartsWith("http") ? @"target=_blank" : "")>
                <i class="fa @navMenu.Icon"></i><span>@SharedLocalizer[navMenu.Name]</span>
            </a>
        </li>
    }
}
